<!DOCTYPE html>
<!--- https://www.w3schools.com/angular/angular_sql.asp  -->
<!--- https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API -->
<!--- https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API -->
<html lang='en'>
<head>
<link href="rss" rel="alternate" type="application/rss+xml" title="RF RSS Feed"></link>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="Steps.css" type="text/css"/>
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css"/>
<title ng-bind="limitSize + 'Steps'">Steps</title>
<script src="/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<script src="/js/angular.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="Steps.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="main" ng-app="myApp" ng-controller="StepsDisplay">
<div class="row">
<div class="col">
<div id="chart_div" style="height: 175px"></div>
</div>
</div>
<div class="row">
<div class="col col-xs-2 col-md-2">
<ul>
<li><input type="text" ng-model="stepsFilter"/></li>
</ul>
</div>
</div>  <!-- row controls -->

<div class="row">
<div class="col col-xs-2 col-md-2 StepsHeader">
	<a href ng-click="sortReverse = sortType=='name' ? !sortReverse : false; sortType='name'">Name
	<span ng-show="sortType=='name' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='name' && sortReverse" class="fa fa-caret-down"></span>
	</a>
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	<a href ng-click="sortReverse = sortType=='steps' ? !sortReverse : true; sortType='steps'">Steps
	<span ng-show="sortType=='steps' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='steps' && sortReverse" class="fa fa-caret-down"></span>
	</a>
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	<a href ng-click="sortReverse = sortType=='today' ? !sortReverse : true; sortType='today'">
	{{currentDate | date:'yyyy-MM-dd'}}
	<span ng-show="sortType=='today' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='today' && sortReverse" class="fa fa-caret-down"></span>
	</a>
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	<a href ng-click="sortReverse = sortType=='yesterday' ? !sortReverse : true; sortType='yesterday'">
	{{yesterday | date:'yyyy-MM-dd'}}
	<span ng-show="sortType=='yesterday' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='yesterday' && sortReverse" class="fa fa-caret-down"></span>
	</a>
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	<a href ng-click="sortReverse = sortType=='daybefore' ? !sortReverse : true; sortType='daybefore'">
	{{daybefore | date:'yyyy-MM-dd'}}
	<span ng-show="sortType=='daybefore' && !sortReverse" class="fa fa-caret-up"></span>
	<span ng-show="sortType=='daybefore' && sortReverse" class="fa fa-caret-down"></span>
	</a>
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	{{currentDate | date:'yyyy-MM'}} (days)
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	{{lastMonth | date:'yyyy-MM'}} (days)
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	{{beforeMonth | date:'yyyy-MM'}} (days)
</div>
<div class="col col-xs-1 col-md-1 StepsHeader">
	{{b2Month | date:'yyyy-MM'}} (days)
</div>
</div> <!-- row -->
<div class="row StepsWrapper" ng-repeat="char in steps | orderBy:sortType:sortReverse | filter:stepsFilter track by $index" ng-value="{{$index}}">
<div class="col col-xs-2 col-md-2 StepsName">
	<span>{{$index+1}} - <a href ng-click="nameOnClick( char.name, char.realm )">{{char.name}}-{{char.realm}}</a></span>
</div>
<div class="col col-xs-1 col-md-1 StepsSteps"><span>{{ char.steps }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsDays"><span>{{ stepsInDay(currentDate, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsDays"><span>{{ stepsInDay(yesterday, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsDays"><span>{{ stepsInDay(daybefore, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsMonths"><span>{{ stepsInMonth(currentDate, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsMonths"><span>{{ stepsInMonth(lastMonth, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsMonths"><span>{{ stepsInMonth(beforeMonth, char.days) }}</span></div>
<div class="col col-xs-1 col-md-1 StepsStepsMonths"><span>{{ stepsInMonth(b2Month, char.days) }}</span></div>
</div> <!-- row -->

</div>
</div>

</body>
</html>
